{% extends 'base.html' %}
{% block title %}Chatbot Training Tool{% endblock %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Intenciones:</h2>
                <div class="input-group mb-3">
                    <select class="custom-select" id="intent-options">
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <label class="input-group-text" for="intent-options" id="intent-options-help"></label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <button type="button" class="btn btn-primary" id="example">Ejemplo</button>
                    <label class="input-group-text" style="visibility: hidden;" id="example-label"></label>
                </div>
                <div id="oraciones">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary " type="button" disabled>Oracion 1</button>
                        </div>
                        <input type="text" class="form-control sentence" placeholder="" aria-label=""
                               aria-describedby="basic-addon1" value="de que se trata el curso de emprendimiento">
                    </div>
                </div>

                {#                <button type="button" class="btn btn-primary" id="new-sentence">Nueva oracion</button>#}
                <button type="button" class="btn btn-primary" id="send">Evaluar</button>
            </div>

            <div class="col-md-6">
                <h2>Resultado:</h2>

                <button type="button" class="btn btn-primary" id="accept">Aceptar</button>
                <div id="results">

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        {#var intents;#}
        var current_intent;

        $("#intent-options").change(function () {
            {#$("#intent-options")#}
            {#console.log(get_selected_intent());#}
            $("#intent-options-help").empty().append(get_selected_intent().description);
        });

        $("#example").click(function () {
            var data = {"intent": get_selected_intent().intent};
            makeAjaxCall("{{ url_for('get_intent_example') }}", "POST", JSON.stringify(data)).then(function (respJson) {
                    $("#example-label").css("visibility", "visible").empty().append(respJson["example"]);
                },
                function (reason) {
                    console.log("error in processing your request", reason);
                }
            );
        });

        {##}
        {#$("#new-sentence").click(function () {#}
        {#    var size = $(".sentence").length;#}
        {#    console.log(size);#}
        {#    $("#oraciones")#}
        {#        .append(` <div class="input-group mb-3">#}
        {#            <div class="input-group-prepend">#}
        {#                <button class="btn btn-outline-secondary " type="button" disabled>Oracion ${size + 1}</button>#}
        {#            </div>#}
        {#            <input type="text" class="form-control sentence"  placeholder="" aria-label=""#}
        {#                   aria-describedby="basic-addon1">#}
        {#        </div>`)#}
        //});

        $("#accept").click(function () {
            var subject_keyword = [];

            $('#options-main li').each(function (i) {
                subject_keyword.push($(this).attr('rel'));
            });

            var options_raw = $(".options").map(function () {
                return this.options[this.selectedIndex].value;
            }).get();


            var options = [];
            options_raw.forEach(function (item, index) {
                {#console.log(item);#}
                var subject_aux = subject_keyword[index];
                if (item !== "--") {
                    var parts = item.split("[");
                    options.push({
                        "word": parts[0],
                        "pos": parts[0].substr(0, parts[0].length - 1),
                        "subject": subject_aux
                    })
                }

            });
            if (options.length < 0) {
                var data = {
                    "intent": current_intent,
                    "options": options
                };

                {#console.log(data);#}

                makeAjaxCall("{{ url_for('new_key_words') }}", "POST", JSON.stringify(data)).then(function (respJson) {
                    {#console.log(respJson);#}
                    $("#results").empty();
                });
            } else {
                $("#results").empty();
            }

        })
        ;


        $("#send").click(function () {
            var sentences = [];

            current_intent = get_selected_intent().intent;


            var inputs = $(".sentence");
            {#console.log(inputs);#}
            for (var i = 0; i < inputs.length; i++) {
                {#console.log($(inputs[i]).val());#}
                sentences.push($(inputs[i]).val())
            }
            var data = {
                "intent": get_selected_intent().intent,
                "sentences": sentences
            };

            {#console.log(data);#}


            makeAjaxCall("{{ url_for('extract_info') }}", "POST", JSON.stringify(data)).then(function (respJson) {
                    {#console.log(respJson);#}
                    $("#results").empty();
                    $("#oraciones").empty()
                        .append('<div class="input-group mb-3">\n' +
                            '                    <div class="input-group-prepend">\n' +
                            '                        <button class="btn btn-outline-secondary " type="button" disabled>Oracion 1</button>\n' +
                            '                    </div>\n' +
                            '                    <input type="text" class="form-control sentence" placeholder="" aria-label=""\n' +
                            '                           aria-describedby="basic-addon1">\n' +
                            '                </div>');

                    respJson["sentences"].forEach(function (item, index) {


                        var result_text = "";
                        item["sentence"].forEach(function (item2, index2) {
                            if (item2.type === "text") {
                                result_text += item2.text;
                            } else {
                                result_text += "<button type='button' class='btn btn-primary' >" + item2.text + "</button>";
                            }
                        });
                        var entities;
                        if (item["entities"].length > 0) {
                            entities = "<ul>";
                            item["entities"].forEach(function (item3, index2) {
                                entities += "<li>" + item3 + "</li>"
                            });
                            entities += "</ul>";
                        } else {
                            entities = "<h5>No se ha encontrado entidades</h5>";
                        }
                        var instances;
                        if (item["instances"].length > 0) {
                            instances = "<ul>";
                            item["instances"].forEach(function (item4, index2) {
                                instances += "<li>" + item4[0] + " - " + item4[1] + "</li>"
                            });
                            instances += "</ul>";
                        } else {
                            instances = "<h5>No se ha encontrado instancias de entidades</h5>";
                        }
                        var tokens;
                        if (item["tokens"].length > 0) {
                            tokens = "<select class='form-control options' >";
                            tokens += "<option>--</option>";
                            item["tokens"].forEach(function (item5, index2) {
                                tokens += "<option>" + item5[0] + " [" + item5[1] + "]" + "</option>";
                            });
                            tokens += "</select>";
                        } else {
                            tokens = "<h5>No se ha encontrado tokens</h5>";
                        }

                        var key_words;
                        if (item["key_words"].length > 0) {
                            key_words = "<ul id='options-main'>";
                            item["key_words"].forEach(function (item5, index2) {
                                {#console.log(item5, index2);#}
                                key_words += "<li rel='" + item5[2] + "'>" + item5[0] + " [" + item5[1] + "]" + tokens + "</li>";
                            });
                            key_words += " </ul>";
                        } else {
                            key_words = "<h5>No se ha encontrado palabras clave asociadas a la intencion </h5>";
                        }


                        d = document.createElement('div');
                        $(d).addClass("result")
                            .append(result_text)
                            .append("<h3>Palabras clave</h3>")
                            .append(key_words)
                            .append("<h3>Detalles</h3>")
                            .append("<h4>Entidades</h4>")
                            .append(entities)
                            .append("<h4>Instancias</h4>")
                            .append(instances)
                            .append("<br>")
                            {#.append("<button type='button' class='btn btn-primary' id='accept'>Aceptar</button>")#}
                            .append("<hr>")
                            .appendTo($("#results"));

                    });

                },
                function (reason) {
                    console.log("error in processing your request", reason);
                }
            );
        });


    </script>
{% endblock %}