{% extends 'base.html' %}
{% block title %}Estadisticas{% endblock %}
{% block main %}
    <div class="container" style="padding-top:17%;padding-bottom:20%">
        <div class="row">
            <div class="col-md-4">
                <h3>Intenciones unicas</h3>
                <ul>
                    {% for intent in result.intents %}
                        <li>{{ intent }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Oraciones de prueba</h3>
                <p>Total de oraciones: <strong>{{ result.sentences_count }}</strong></p>
                <p>Promedio de preguntas por intencion: <strong>{{ result.sentences_prom }}</strong></p>
                <p>Sentencias clasificadas de forma correcta: <strong>{{ result.correct }} </strong></p>
                <p>Sentencias clasificadas de forma incorrecta: <strong>{{ result.incorrect }} </strong></p>
                <p>Precision: <strong>{{ result.precision }} %</strong></p>
                <a class="btn btn-primary" href="{{ url_for('get_data') }}" role="button">Descargar</a>
            </div>
            <div class="col-md-4">
                <h3>Tripletas</h3>
                <p>Numero de tripletas: {{ result.triples_count }}</p>
            </div>
        </div>
    </div>
{% endblock %}